<div>
    <form #formID="ngForm" (ngSubmit)="onSubmit(formID)">
    <i class="material-icons">theaters</i>
    <p>cinema.ly</p>
    <label for="year">Year</label>
    <input name="year" type="number" ngModel>
    <label for="genre">Genre:</label>
    <select name="genre" ngModel>
        <option value=28>Action</option>
        <option value=12>Adventure</option>
        <option value=16>Animation</option>
        <option value=35>Comedy</option>
        <option value=878>Sci-Fi</option>
        <option value=27>Horror</option>
        <option value=10749>Romance</option>
    </select>
    <label for="rating">Rating</label>
    <input name="rating" type="number" min="0" max="10" step="0.5" ngModel>
    <button type="submit">Search</button>
</form>
</div>