
div
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    color: white;
    
}

.mov
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    width: 100%;
    padding: 0 50px;
    margin-bottom: 75px;
    
}

h1
{
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
    text-align: center;
    max-width: 50%;
}

h2
{

    font-size: 36px;
    margin: 30px 0;
}

.buttons
{
    width: 100%;

    flex-flow: column nowrap;
    justify-content: space-around;

    margin: 20px 0;
}

button
{
    font-size: 16px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 50%;

    
    border-radius: 10px;
    margin: 5px 0;
    height: 50px;
    font-size: 25px;

    border: none;
}

.material-icons
{
    
    font-size: 40px;
}

.more
{
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    padding: 15px 0;
    max-width: 60%;
    margin: 20px 0;
}

p
{
    margin: 5px 24px;
    font-size: 20px;
    text-align: center;
}

